data/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
*.egg-info/
*.egg
dist/
build/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.log
*.pot
*.pyt
celerybeat-schedule
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.pytest_cache/
*.mo
*.db
.DS_Store
